
    a.menu-icon-7,
    ul.links li.menu-icon-7 a,
    ul.menu li.menu-icon-7 a {
        background-image: url(/sites/default/files/menu_icons/%D7%99%D7%99%D7%A2%D7%95%D7%A5%20%D7%A4%D7%A0%D7%A1%D7%99%D7%95%D7%A0%D7%99.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-12,
    ul.links li.menu-icon-12 a,
    ul.menu li.menu-icon-12 a {
        background-image: url(/sites/default/files/menu_icons/%D7%9E%D7%A9%D7%9B%D7%A0%D7%AA%D7%94.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-17,
    ul.links li.menu-icon-17 a,
    ul.menu li.menu-icon-17 a {
        background-image: url(/sites/default/files/menu_icons/social-facebook.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-18,
    ul.links li.menu-icon-18 a,
    ul.menu li.menu-icon-18 a {
        background-image: url(/sites/default/files/menu_icons/account-mangement_1.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-20,
    ul.links li.menu-icon-20 a,
    ul.menu li.menu-icon-20 a {
        background-image: url(/sites/default/files/menu_icons/bit.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-29,
    ul.links li.menu-icon-29 a,
    ul.menu li.menu-icon-29 a {
        background-image: url(/sites/default/files/menu_icons/social-you-tube.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-35,
    ul.links li.menu-icon-35 a,
    ul.menu li.menu-icon-35 a {
        background-image: url(/sites/default/files/menu_icons/left-arrow-ico-512.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-38,
    ul.links li.menu-icon-38 a,
    ul.menu li.menu-icon-38 a {
        background-image: url(/sites/default/files/menu_icons/busisness.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-47,
    ul.links li.menu-icon-47 a,
    ul.menu li.menu-icon-47 a {
        background-image: url(/sites/default/files/menu_icons/social-twitter.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-49,
    ul.links li.menu-icon-49 a,
    ul.menu li.menu-icon-49 a {
        background-image: url(/sites/default/files/menu_icons/instagram_0.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-51,
    ul.links li.menu-icon-51 a,
    ul.menu li.menu-icon-51 a {
        background-image: url(/sites/default/files/menu_icons/open_0_2.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-60,
    ul.links li.menu-icon-60 a,
    ul.menu li.menu-icon-60 a {
        background-image: url(/sites/default/files/menu_icons/loans_5_0.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-61,
    ul.links li.menu-icon-61 a,
    ul.menu li.menu-icon-61 a {
        background-image: url(/sites/default/files/menu_icons/%D7%A4%D7%A7%D7%93%D7%95%D7%A0%D7%95%D7%AA%20%D7%95%D7%97%D7%A1%D7%9B%D7%95%D7%A0%D7%95%D7%AA.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-62,
    ul.links li.menu-icon-62 a,
    ul.menu li.menu-icon-62 a {
        background-image: url(/sites/default/files/menu_icons/%D7%9B%D7%A8%D7%98%D7%99%D7%A1%D7%99%20%D7%90%D7%A9%D7%A8%D7%90%D7%99.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-64,
    ul.links li.menu-icon-64 a,
    ul.menu li.menu-icon-64 a {
        background-image: url(/sites/default/files/menu_icons/%D7%A9%D7%95%D7%A7%20%D7%94%D7%94%D7%95%D7%9F.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-66,
    ul.links li.menu-icon-66 a,
    ul.menu li.menu-icon-66 a {
        background-image: url(/sites/default/files/menu_icons/%D7%9E%D7%98%D7%91%D7%A2%20%D7%97%D7%95%D7%A5.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-69,
    ul.links li.menu-icon-69 a,
    ul.menu li.menu-icon-69 a {
        background-image: url(/sites/default/files/menu_icons/%D7%9E%D7%98%D7%91%D7%A2%20%D7%97%D7%95%D7%A5_0.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-71,
    ul.links li.menu-icon-71 a,
    ul.menu li.menu-icon-71 a {
        background-image: url(/sites/default/files/menu_icons/%D7%A9%D7%95%D7%A7%20%D7%94%D7%94%D7%95%D7%9F_0.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-72,
    ul.links li.menu-icon-72 a,
    ul.menu li.menu-icon-72 a {
        background-image: url(/sites/default/files/menu_icons/%D7%9B%D7%A8%D7%98%D7%99%D7%A1%D7%99%20%D7%90%D7%A9%D7%A8%D7%90%D7%99_1.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-73,
    ul.links li.menu-icon-73 a,
    ul.menu li.menu-icon-73 a {
        background-image: url(/sites/default/files/menu_icons/%D7%A4%D7%A7%D7%93%D7%95%D7%A0%D7%95%D7%AA%20%D7%95%D7%97%D7%A1%D7%9B%D7%95%D7%A0%D7%95%D7%AA_0.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-74,
    ul.links li.menu-icon-74 a,
    ul.menu li.menu-icon-74 a {
        background-image: url(/sites/default/files/menu_icons/%D7%94%D7%9C%D7%95%D7%95%D7%90%D7%95%D7%AA_1.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-91,
    ul.links li.menu-icon-91 a,
    ul.menu li.menu-icon-91 a {
        background-image: url(/sites/default/files/menu_icons/%D7%99%D7%99%D7%A2%D7%95%D7%A5%20%D7%A4%D7%A0%D7%A1%D7%99%D7%95%D7%A0%D7%99_0.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-92,
    ul.links li.menu-icon-92 a,
    ul.menu li.menu-icon-92 a {
        background-image: url(/sites/default/files/menu_icons/%D7%9E%D7%A9%D7%9B%D7%A0%D7%AA%D7%94_0.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-106,
    ul.links li.menu-icon-106 a,
    ul.menu li.menu-icon-106 a {
        background-image: url(/sites/default/files/menu_icons/stock-market_1_2.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-200,
    ul.links li.menu-icon-200 a,
    ul.menu li.menu-icon-200 a {
        background-image: url(/sites/default/files/menu_icons/contact_0.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-201,
    ul.links li.menu-icon-201 a,
    ul.menu li.menu-icon-201 a {
        background-image: url(/sites/default/files/menu_icons/location.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-202,
    ul.links li.menu-icon-202 a,
    ul.menu li.menu-icon-202 a {
        background-image: url(/sites/default/files/menu_icons/location_0.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-203,
    ul.links li.menu-icon-203 a,
    ul.menu li.menu-icon-203 a {
        background-image: url(/sites/default/files/menu_icons/contact_1.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
    a.menu-icon-250,
    ul.links li.menu-icon-250 a,
    ul.menu li.menu-icon-250 a {
        background-image: url(/sites/default/files/menu_icons/wonder_new.svg);
        background-repeat: no-repeat;
        background-position: right center;
    }
